


.bgimg{
	background-image: url("../img/thorbg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
}
.headerset{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	color: white;
}
.headerset h2{font-size: 42px;}
.headerset h1{font-size: 70px;text-transform: uppercase;}

/**********************Services******************/

.services{padding: 60px 0px 60px;height: 650px;}
.services h1{font-size: 45px; font-weight: bold;} 
.rowsetting{margin: 70px 0px;}
.imgsettings{
	border-radius: 50%;
	height: 150px;
	width: 150px;
}
.fa{margin-top: 36px;}

/**************************Villians************************/

.villains{padding: 40px 0px;}
.vheading{margin-bottom: 50px;}
.vheading h1{font-weight: bold; font-size: 45px;}

/****************************My Photos****************************/

.myphotos{padding: 40px 0px;}
.mpheader{margin-bottom: 50px;}
.mpheader h1{font-size: 45px; font-weight: bold;}
.img-cap{font-size: 30px;}

/**************************footer***********************/

.footer{height: 50px;}
.footer p{line-height: 50px;}

/***************************Media Query**********************/

@media(min-width: 992px){}
@media(min-width: 768px) and (max-width: 991px){
	.headerset h2{font-size: 37px;}
	.headerset h1{font-size: 60px;}
}
@media(min-width: 575px) and (max-width: 767px){
	.headerset h2{font-size: 32px;}
	.headerset h1{font-size: 55px;}
	.services{height: 800px;}
}
@media(min-width: 480px) and (max-width: 574px){
	.headerset h2{font-size: 25px;}
	.headerset h1{font-size: 42px;}
	.services{height: 1300px;}
}
@media(max-width: 479px){
	.headerset h2{font-size: 20px;}
	.headerset h1{font-size: 32px;}
	.services{height: 1350px;}
	.bgimg{width: 100%;object-fit: none;}
}